<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Refactoring in action</title>
    <link rel="icon" href="assets/images/favicon.svg" type="image/svg+xml" />
    <style>
      .align-left {
        text-align: left;
      }
    </style>
  </head>
  <body>
    <main class="reveal">
      <div class="slides">
        <section>
          <h1>Reveal Slide Vite</h1>
        </section>

        <section>
          <img
            src="assets/images/show-me-the-code.jpg"
            alt="Show me the-code"
          />
        </section>

        <% slides.forEach(slide => { %> <%- slide %> <% }) %>
      </div>
    </main>
    <script type="module" src="assets/js/main.js"></script>
  </body>
</html>
